<div class="bar">
    <img (click)="back()" src="../../assets/images/back.svg" alt="" />
    <p>Create An Account</p>
    <div class="btn-list">
        <button class="btn">CANCEL</button>
        <button class="btn">CREATE</button>
    </div>
</div>
<main>
    <div class="steps-nav">
        <div class="step">
            <div class="circle">1</div>
            <p class="step-name">Personal Information</p>
        </div>
        <div class="step">
            <span class="line"> </span>
        </div>
        <div class="step">
            <div class="circle">2</div>
            <p class="step-name">Qualifications</p>
        </div>
        <div class="step">
            <span class="line"> </span>
        </div>
        <div class="step">
            <div class="circle">3</div>
            <p class="step-name">Review and Proceed</p>
        </div>
    </div>
    <div class="personal-information">
        <div class="information-heading">
            <p class="dark">Personal Information</p>
            <div class="edit">
                <!-- <img src="../../assets/images/pen-solid.svg" alt="" /> -->
                <p>Edit</p>
            </div>
        </div>
        <div class="details">
            <form action="#">
                <div class="section-info">
                    <div class="first-name box">
                        <p class="light">First Name*</p>
                        <p class="dark">John</p>
                    </div>
                    <div class="last-name box">
                        <p class="light">Last Name*</p>
                        <p class="dark">Watson</p>
                    </div>
                    <div class="email box">
                        <p class="light">Email*</p>
                        <p class="dark">Johnwatson@example.com</p>
                    </div>
                    <div class="number box">
                        <p class="light">Number*</p>
                        <p class="dark">9876543210</p>
                    </div>
                    <div class="resume box">
                        <img src="../../assets/quantumScreenAssets/icons/reports.svg" alt="" />

                        <label for="upload">
                            <p>UPLOAD YOUR RESUME</p>
                            <input type="file" name="upload" id="upload" style="display: none" />
                        </label>
                    </div>
                    <div class="portfolio box">
                        <p class="light">Enter Portfolio URL (if any)</p>
                        <p class="dark">www.myportfolio.in</p>
                    </div>
                    <div class="job-roles box">
                        <p class="light">Preferred Job Roles*</p>
                        <div class="roles">
                            <div class="role">
                                <p class="dark">Instructional Designer</p>
                            </div>
                            <div class="role">
                                <p class="dark">Software Quality Engineer</p>
                            </div>
                        </div>
                    </div>

                    <div class="referral box">
                        <p class="light">
                            If You Are Registering Via A Referral, Please Mention Full Name Of
                            The Employee Who Referred You
                        </p>
                        <p class="dark">-</p>
                    </div>
                    <div class="notification">
                        <input type="checkbox" name="notification" id="notification" />
                        <label class="check" for="notification">Send me job related updates via mail</label>
                        <!-- <img src="./assets/checkbox-checked.svg" alt="">

                        <p>Send me job related updates via mail</p> -->
                    </div>
                </div>
                <div class="profile-section">
                    <div class="profile-info">
                        <div class="img-container">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="education-information">
        <div class="information-heading">
            <p class="dark">Qualifications</p>
            <div class="edit">
                <i class="fa-solid fa-pen"></i>
                <p>Edit</p>
            </div>
        </div>
        <div class="qualification">
            <div class="header-bar">
                <p class="dark">Educational Qualifications</p>
            </div>
            <div class="qualifications-details">
                <div class="quali-fields">
                    <p class="light">Aggregate Percentage*</p>
                    <div class="percentage">
                        <p class="dark">65</p>
                    </div>
                </div>
                <div class="quali-fields">
                    <p class="light">Year of Passing*</p>
                    <div class="year">
                        <p class="dark">2020</p>
                    </div>
                </div>
                <div class="select-fields">
                    <div class="field">
                        <p class="light">Qualification*</p>
                        <div class="degree">
                            <p class="dark">Bachelor in Technology (B.Tech)</p>
                        </div>
                    </div>
                    <div class="field">
                        <p class="light">Stream*</p>
                        <div class="stream">
                            <p class="dark">Information Technology</p>
                        </div>
                    </div>
                    <div class="field">
                        <p class="light">College*</p>

                        <div class="college">
                            <p class="dark">Pune Institute of Technology (PIT)</p>
                        </div>
                    </div>
                    <div class="field">
                        <p class="light">If others, please enter your college name</p>
                        <div class="other-college">
                            <p class="dark">-</p>
                        </div>
                    </div>
                </div>
                <div class="quali-fields">
                    <p class="light">Where is your college located?*</p>
                    <div class="location">
                        <p class="dark">Pune</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="prof-qualification">
            <div class="header-bar">
                <p class="dark">Professional Qualifications</p>
            </div>
            <div class="applicant-type prof">
                <p class="light">Applicant Type*</p>
                <div class="ap-btns">
                    <p class="dark">Experienced</p>

                </div>
            </div>
            <div class="applicant-details fresher prof">
                <p>Select All The Technologies You Are Familiar In</p>
                <div class="tech-selector">
                    <div class="tech">
                        <input type="checkbox" name="tech1" id="tech1" checked />
                        <label class="check" for="tech1">Javascript</label>
                    </div>
                    <div class="tech">
                        <input type="checkbox" name="tech1" id="tech1" />
                        <label class="check" for="tech1">Angular JS</label>
                    </div>
                    <div class="tech">
                        <input type="checkbox" name="tech1" id="tech1" />
                        <label class="check" for="tech1">React</label>
                    </div>
                    <div class="tech">
                        <input type="checkbox" name="tech1" id="tech1" />
                        <label class="check" for="tech1">Node JS</label>
                    </div>
                    <div class="tech">
                        <input type="checkbox" name="tech1" id="tech1" />
                        <label class="check" for="tech1">Others</label>
                    </div>
                </div>
                <div class="others">
                    '
                    <p>If others, please mention</p>
                    <input type="text" name="others" id="others" class="textfield" />
                </div>
                <div class="appeared">
                    <p>Have You Appeared For Any Test By Zeus in the past 12 months?*</p>
                    <div class="rd-btns">
                        <div class="rd">
                            <input type="radio" name="rd1" id="rd1" checked />
                            <label for="rd1">Yes</label>
                        </div>
                        <div class="rd">
                            <input type="radio" name="rd1" id="rd2" />
                            <label for="rd2">No</label>
                        </div>
                    </div>
                </div>
                <div class="yes-role">
                    '
                    <p>If Yes, which role did you apply for?</p>
                    <input type="text" name="role" id="role" class="textfield" />
                </div>
            </div>
            <div class="applicant-details experienced prof">
                <div class="years">
                    <p class="light">Years of Experience*</p>
                    <p class="dark">5</p>
                </div>
                <div class="current-ctc box1">
                    <p class="light">Current CTC* (In Rupees)</p>
                    <p class="dark currentCtc">5,00,000</p>
                </div>
                <div class="expected-ctc box1">
                    <p class="light">Expected CTC* (In Rupees)</p>
                    <p class="dark expected">6,50,000</p>
                </div>
                <div class="expertise">
                    <p class="light">Select All The Technologies You Expertise In*</p>
                    <div class="tech-selector">
                        <div class="tech">
                            <p class="dark">Javascript</p>
                        </div>
                    </div>
                    <div class="others">
                        <p class="light">If others, please mention</p>
                        <p class="dark">-</p>
                    </div>
                </div>
                <div class="familiar">
                    <p class="light">Select All The Technologies You Are Familiar In</p>
                    <div class="tech-selector">
                        <div class="tech">
                            <p class="dark">Angular JS</p>
                        </div>

                        <div class="others">
                            <p class="light">If others, please mention</p>
                            <p class="dark">-</p>
                        </div>
                    </div>
                </div>
                <div class="notice-period appeared">
                    <p class="appear light">Are you currently on notice period?*</p>
                    <div class="rd-btns">
                        <p class="dark">Yes</p>
                    </div>
                    <div class="notice-info">
                        <div class="info">
                            <p class="light">If Yes, when will your notice period end?*</p>
                            <p class="dark">20-May-2020</p>
                        </div>
                        <div class="info">
                            <p class="light">
                                How long is your notice period?* (Mention in months)
                            </p>
                            <p class="dark">2 Months</p>
                        </div>
                    </div>
                </div>
                <div class="appeared">
                    <p class="light">
                        Have You Appeared For Any Test By Zeus in the past 12 months?*
                    </p>
                    <div class="rd-btns">
                        <p class="dark">No</p>
                    </div>
                </div>
                <div class="yes-role box1">
                    <p class="light">If Yes, which role did you apply for?</p>
                    <p class="dark">-</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn">PREVIOUS</button>
</main>