<div class="container">
  <div class="Header-title">

    <h1>Log in</h1>
  </div>
  <form action="#">

    <div class="username">
      <input type="email" name="username" id="username" class="login-info" placeholder="Email ID*" />
      <p class="forgot-text">FORGOT EMAIL ID?</p>
    </div>
    <div class="input-password">
      <input type="password" name="password" id="password" class="login-info" placeholder="Password*" />
      <img src="./assets/images/preview.svg" class="eye-icon" alt="preview" />
      <p class="forgot-text">FORGOT PASSWORD?</p>
    </div>
    <div class="rememberMe">
      <input type="checkbox" name="rememberCheck" id="rememberCheck" />
      <label for="rememberCheck">Remember Me</label>
    </div>
    <button class="LoginButton">LOG IN</button>


  </form>
  <div class="createAcc">
    <p class="notRegister">Not Registered Yet?</p>
    <button routerLink="/create-page" class="createButton">
      Create An Account </button>
  </div>

</div>


<div class="about">
  <a href="">About</a>

  <span>|</span>
  <a href="">Contact Us</a>
</div>
