
<main>
    <div class="walk-in-list">
    <div class="walk-in">
        <div class="expired"> Expires in 5 days</div>
        <div class="basic-info">
            <p class="heading">Walk In for Designer Job Role</p>
            <div class="date-time">
                <p class="sub-heading">Date & Time :</p>
                <div class="location">
                    <p class="date">10-Jul-2021 to 11-Jul-2021</p>
                    <span class="bar">|</span>
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="loca">Mumbai</p>
                </div>
            </div>
        </div>
        <div class="job-roles">
            <p class="job-heading">Job Roles :</p>
            <div class="role-list">
                <div class="role">
                    <div class="img-role">
                        <img src="../../assets/images/Instructional Designer.svg" alt="">
                    </div>
                    <p class="role-name">Instructional Designer</p>
                </div>
            </div>
        </div>
        <div class="button">
            <button routerLink="/walk-in-details" class="btn">VIEW MORE DETAILS</button>

        </div>
        
    </div>
  

</div>
</main>