main {
    margin-top: 56px;
    display: flex;
    padding: 33px 24px 0px 24px;
    background: #EEEEEE;

    .walk-in-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .walk-in {
            background: #FFFFFF;
            p{
                margin: 0;
            }
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            padding: 16px;
            .expired{
                position: fixed;
                font-size: 12px;
                text-align: center;
                font-weight: 700;
                padding: 2px 2px 2px 2px;
                right: 45px;
                top: 80px;
            width: 107px;
                color: #D10107;
                background: #FFE4E6;
    
            }
            .basic-info{
                border-bottom: 0.1px solid #0000003D;
                .heading{
                    font-size: 18px;
                    color: #1F7A54;
                    font-weight: 600;
                }
                .date-time{
                    display: flex;
                    flex-direction: column;
                    margin: 16px 0px 16px 0px;
                    .sub-heading{
                        color: #666666;
                        margin-bottom: 8px;
                        font-weight: 600;
                    }
                    .location{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .date{
                            margin-right: 15px;
                            font-weight: 600;
                        }
                        span{
                            margin-right: 18px;
                        }
                        i{
                            color: #666666;
                            margin-right: 4px;
                           
                        }
                    }
                }

            }
            .job-roles{
                margin-top: 16px;
                .job-heading{
                    margin-bottom:12px;
                    color: #666666;
                    font-weight: 600;
                }
                .role-list{
                    display: flex;
                    flex-direction: row;
                    .role{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-right: 17px;
                        .img-role{
                            padding: 4px;
                            border-radius: 50%;
                            border: 1px solid #222222;
                            width: 26px;
                                height: 26px;
                                margin-right: 12px;
                                
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .role-name{
                            color: #000000;
                            font-weight: 600;
                        }
                    }
                }
            }
            .button{
                width: 100%;
                text-align: center;
                .btn{
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                padding: 5px 16px;
                background: #3FD28B;
                border-radius: 2px;
                border: none;
                box-shadow: 0px 3px 5px #0000003D;
                }
                
            }

        }
      
    }
}